<!-- Single Catagory -->
<div class="single-products-catagory clearfix" style="position: absolute; left: 0%; top: 0px;">
    <a ui-sref="app.produtos"> 
        <img src="img/bg-img/home1.jpg" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <h4>Opala Branco</h4>
            <p>Código: 3010</p>
        </div>
    </a>
</div>

<!-- Single Catagory -->
<div class="single-products-catagory clearfix" style="position: absolute; left: 33.298%; top: 0px;">
    <a ui-sref="app.produtos">
        <img src="img/bg-img/home2.jpg" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <h4>Minimalistic Plant Pot</h4>
            <p>Código: 2125</p>
        </div>
    </a>
</div>

<!-- Single Catagory -->
<div class="single-products-catagory clearfix" style="position: absolute; left: 66.596%; top: 0px;">
    <a ui-sref="app.produtos">
        <img src="img/bg-img/home3.jpg" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <h4>Modern Chair</h4>
            <p>Código: 5155</p>
        </div>
    </a>
</div>

<!-- Single Catagory -->
<div class="single-products-catagory clearfix" style="position: absolute; left: 0%; top: 314px;">
    <a ui-sref="app.produtos">
        <img src="img/bg-img/home4.jpg" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <h4>Night Stand</h4>
            <p>Código: 3011</p>
        </div>
    </a>
</div>

<!-- Single Catagory -->
<div class="single-products-catagory clearfix" style="position: absolute; left: 33.298%; top: 314px;">
    <a ui-sref="app.produtos">
        <img src="img/bg-img/home5.jpg" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <h4>Plant Pot</h4>
            <p>Código: 0101</p>
        </div>
    </a>
</div>

<!-- Single Catagory -->
<div class="single-products-catagory clearfix" style="position: absolute; left: 66.596%; top: 314px;">
    <a ui-sref="app.produtos">
        <img src="img/bg-img/home6.jpg" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <h4>Small Table</h4>
            <p>Código: 7411</p>
        </div>
    </a>
</div>

<!-- Single Catagory -->
<div class="single-products-catagory clearfix" style="position: absolute; left: 0%; top: 628px;">
    <a ui-sref="app.produtos">
        <img src="img/bg-img/home7.jpg" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <h4>Metallic Chair</h4>
            <p>Código: 1023</p>
        </div>
    </a>
</div>

<!-- Single Catagory -->
<div class="single-products-catagory clearfix" style="position: absolute; left: 33.298%; top: 628px;">
    <a ui-sref="app.produtos">
        <img src="img/bg-img/home8.jpg" alt="">
        <!-- Hover Content -->
        <div class="hover-content">
            <div class="line"></div>
            <h4>Modern Rocking Chair</h4>
            <p>Código: 6987</p>
        </div>
    </a>
</div>

<!-- Single Catagory -->
<div class="single-products-catagory clearfix" style="position: absolute; left: 66.596%; top: 628px;">
    <a ui-sref="app.produtos">
        <img src="img/bg-img/home9.jpg" alt="">
        <!-- Hover Content --> 
        <div class="hover-content">
            <div class="line"></div>
            <h4>Home Deco</h4>
            <p>Código: 1121</p>
        </div>
    </a>
</div>
