<div class="col-10 mx-auto d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{vm.titulo}}</h1>
</div>

<form class="col-10 mx-auto">
  <div class="form-row">
      <div class="form-group col-md-6">
          <label>Documento</label>
          <input ng-model="vm.preposto.documento" type="text" class="form-control">
      </div>
  </div>
  <div class="form-group">
      <label>Nome</label>
      <input ng-model="vm.preposto.nome" type="text" class="form-control">
  </div>
  <div class="form-row">
      <div class="form-group col-md-6">
          <label>Telefone</label>
          <input ng-model="vm.preposto.telefone" type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
          <label>E-mail</label>
          <input ng-model="vm.preposto.email" type="text" class="form-control">
      </div>           
  </div>
  <div class="form-group">
      <label>Endereço</label>
      <input ng-model="vm.preposto.endereco" type="text" class="form-control">
  </div>
  <div class="form-group">
      <label>Região</label>
      <input ng-model="vm.preposto.regiao" type="text" class="form-control">
  </div>
  <div class="form-group">
      <label>Comissão</label>
      <input ng-model="vm.preposto.comissao" type="text" class="form-control">
  </div>
  <div class="form-group">
      <label>Observação</label>
      <input ng-model="vm.preposto.observacao" type="text" class="form-control">
  </div>
  <div class="form-group text-right">
      <button type="button" ng-click="vm.salvar()" class="btn btn-lg btn-success">
      <i class="fa fa-save"></i>
      Salvar
      </button>
      <a ui-sref="app.preposto.list" class="btn btn-danger">
          <i class="fa fa-backward"></i>
      Cancelar
      </a>
      </div>
</form>